<section class="bg-white py-10">
  <div class="container">
    <h2 class="text-center page-header-title">
      Take a look at my latest blogs
    </h2>
    <div class="card-columns card-columns-portfolio">
      <a
        *ngFor="let blog of topNineBlogs"
        class="card card-portfolio"
        [routerLink]="['blog', blog.slug]"
        ><img class="card-img-top" src="{{ blog.blog_thumbnail }}" alt="..." />
        <div class="card-body">
          <div class="card-title">
            {{ blog.title }}
            <hr />
            {{ blog.meta_summary }}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="svg-border-rounded text-light">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 144.54 17.34"
      preserveAspectRatio="none"
      fill="currentColor"
    >
      <path
        d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
      />
    </svg>
  </div>
</section>
