<header class="page-header page-header-light bg-white">
  <div class="page-header-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 text-center">
          <img
            class="mb-3"
            src="https://image.freepik.com/free-vector/programmer-with-code-cat-book-coffee-vector-clip-art-illustration_138676-92.jpg"
            style="width: 15rem;"
          />
          <h1 class="page-header-title">Welcome to CheapSkateCoder!</h1>
          <p class="page-header-text">
            Scripting through life the easiest way possible!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-light">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 144.54 17.34"
      preserveAspectRatio="none"
      fill="currentColor"
    >
      <path
        d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
      />
    </svg>
  </div>
</header>
<section class="bg-light py-10">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="icon-stack icon-stack-xl text-white mb-4">
          <img src="https://img.icons8.com/nolan/96/python.png" />
          <i data-feather="edit-3"></i>
        </div>
        <h3>Python</h3>
        <p class="mb-0">
          Finally ready to give into the hype and learn Python? Well click on in
          and begin your journey into the wonderful world of Python. (PS -
          You'll hate every other language from now on.)
        </p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="icon-stack icon-stack-xl text-white mb-4">
          <i data-feather="layout"></i>
          <img src="https://img.icons8.com/color/144/000000/django.png" />
        </div>
        <h3>Django</h3>
        <p class="mb-0">
          Django, a framework for perfectionist with deadlines, that's their
          motto, you really need to hear anything more for convincing.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="icon-stack icon-stack-xl text-white mb-4">
          <img src="https://img.icons8.com/color/96/000000/linux.png" />
          <i data-feather="droplet"></i>
        </div>
        <h3>System Administration</h3>
        <p class="mb-0">
          Linux is much more than "cd" and "ls", it's time for you to learn that
          you lazy fuck!
        </p>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 144.54 17.34"
      preserveAspectRatio="none"
      fill="currentColor"
    >
      <path
        d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
      />
    </svg>
  </div>
</section>
<app-top-nine-blogs></app-top-nine-blogs>
<section class="bg-light py-10">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>Contact me</h2>
        <p class="mb-5">
          I am available for contract work, when you&apos;re ready - let me
          know!
        </p>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="icon-stack icon-stack-lg bg-orange text-white mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-mail"
                  >
                    <path
                      d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                    ></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
                  <i data-feather="mail"></i>
                </div>
                <div class="small">
                  <a href="mailto:cheapskatecoder@gmail.com">cheapskatecoder@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="icon-stack icon-stack-lg bg-green text-white mb-3">
                  <img src="https://img.icons8.com/cute-clipart/64/000000/skype.png"/>
                  <i data-feather="smartphone"></i>
                </div>
                <div class="small">live:.cid.52ff199c5670bc80</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-dark">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 144.54 17.34"
      preserveAspectRatio="none"
      fill="currentColor"
    >
      <path
        d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
      />
    </svg>
  </div>
</section>
